extends ../layout.jade

block main
	.controls.container.spacer
		.btn-group.btn-group-lg
			button(disabled data-toggle='button')#playpausebtn.btn.btn-default
				span.glyphicon.glyphicon-play
			button(disabled)#stopbtn.btn.btn-default
				span.glyphicon.glyphicon-stop
			button(disabled)#volumeup.btn.btn-default
				span.glyphicon.glyphicon-volume-up
			button(disabled)#volumedown.btn.btn-default
				span.glyphicon.glyphicon-volume-down
	.new.container
		.row
			.col-sm-8.spacer
				input(type='text' placeholder='YouTube Video Link')#yturltxt.form-control.input-lg
			.col-sm-4.spacer
				button#yturlbtn.btn.btn-primary.btn-lg.btn-block Submit
	.list-group.container.spacer