extends ../layout.jade

block main
	.controls.container
		.btn-group.btn-group-lg
			button#playpausebtn.btn.btn-default
				span.glyphicon.glyphicon-play
			button#stopbtn.btn.btn-default
				span.glyphicon.glyphicon-stop
			button#volumeup.btn.btn-default
				span.glyphicon.glyphicon-volume-up
			button#volumedown.btn.btn-default
				span.glyphicon.glyphicon-volume-down
	.new.container
		.row
			.col-sm-8
				input(type='text' placeholder='YouTube Video Link')#yturltxt.form-control.input-lg
			.col-sm-4
				button#yturlbtn.btn.btn-primary.btn-lg.btn-block Submit
	.list-group.container