extends ../layout.jade

block main
	h1 Enter a Valid Youtube Link

	.playing
		h2#title
		img#thumbnail
	.controls
		button#playpausebtn
		button#stopbtn
		button#nextbtn
	.new
		input(type='text' placeholder='YouTube Video Link')#yturltxt
		button#yturlbtn
	.list-group
		a